*{
    margin: 0;
}
body{
    background-color: #f5f6fa;
}

.app{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.app__header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app__header > h1{
    color: #fc3c3c;
    font-size: 2rem;
}

.app__dropdown{
    background-color: white;
}

.app__left{
    flex: 0.9;
}

.app__stats{
    display: flex;
    justify-content: space-between;
}
.app__right{
    display: flex;
    flex-direction: column;
}

.app__right .MuiCardContent-root{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app__graph{
    flex-grow:1;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color:transparent;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: #888; 
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media (max-width: 990px) {
    .app{
        flex-direction: column;
    }
    .app__right
    {
        margin-top: 30px;
    }
}